.info {
  display: flex;
  align-items: start;
  margin-bottom: 100px;
}

.address {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.circle {
  background: #d1a068;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
}

.svg {
  height: 40px;
  width: 40px;
  position: relative;
  top: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

.hours {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.phone {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.infoLogo {
  background: #d1a068;
  width: 80px;
  height: 80px;
  border-radius: 45px;
}

.infoTitle {
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 15px;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 33px;
  color: #333333;
}

.info p {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #878787;
}

.info p strong {
  color: #333;
}

.address p {
  color: #333333;
}

.info p b {
  color: #333333;
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
  .info {
    margin-top: 30px;
    margin-bottom: 30px;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .info {
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-direction: column;
  }
  .address,
  .hours {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 300px) and (max-width: 479px) {
  .info {
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
    flex-direction: column;
  }

  .address,
  .hours {
    margin-bottom: 20px;
  }
}
