.map {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.left {
  margin-top: 60px;
  border-left: 9px solid #d1a068;
  border-radius: 4px;
  padding-left: 30px;
  height: 370px;
}

.infoTitle {
  padding-top: 15px;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 33px;

  color: #333333;
}

.map p,
.map b {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  padding-top: 10px;
  color: #333333;
}

.right {
  border: 10px solid #a3a3a3;
  box-shadow: 0px 30px 30px rgba(49, 49, 49, 0.1);
  border-radius: 10px;
}
