.titleTeam {
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
  font-size: 50px;
  line-height: 80px;
  color: #333333;
  padding-bottom: 31px;
}

.cards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.card {
  padding-left: 30px;
}

.img {
  border-radius: 10px;
  height: 390px;
  width: 100%;
  object-fit: cover;
}

.name {
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
  font-size: 25px;
  padding-top: 18px;
  line-height: 33px;
  color: #333333;
}

.card p {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #d1a068;
  padding-bottom: 25px;
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .titleTeam {
    text-align: center;
  }

  .card {
    padding-left: 0;
  }
}

@media screen and (min-width: 300px) and (max-width: 479px) {
  .titleTeam {
    font-size: 40px;
  }

  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card {
    padding-left: 0;
  }
}
