.blockAddress {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 540px;
  position: relative;
  justify-content: space-between;
  margin-bottom: 100px;
}

.blockAddress p {
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 33px;
  text-align: center;
  width: 100%;
  position: relative;
  color: #ffffff;
  text-shadow: 0 6px 21px #000000;
}
.location {
  position: absolute;
  width: 100px;
  top: 50%;
  left: 45%;
  object-fit: cover;
  height: 100px;
  /* background-image: url("../../images/location.png"); */
  background-repeat: no-repeat;
}

.blockimg {
  width: 479px;
  position: absolute;
  z-index: 5;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 207px;
}

.leftBlock {
  content: "";
  position: relative;
  /* background-image: url('../../images/leftblock.png'); */
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  filter: grayscale(100%);
  transition: all 0.4s ease;
}

.leftBlock p {
  position: absolute;
  top: 75%;
  left: 50%;
  width: 23.5vw;
  transform: translate(-50%, -50%);
}

.leftBlock p:after {
  left: 38%;
  top: -100px;
}

.rightBlock {
  content: "";
  position: relative;
  /* background-image: url('../../images/rightblock.png'); */
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  filter: grayscale(100%);
  transition: all 0.4s ease;
}

.leftBlock:hover {
  filter: grayscale(0%);
}
.rightBlock:hover {
  filter: grayscale(0%);
}

.rightBlock p {
  position: absolute;
  top: 75%;
  left: 50%;
  width: 27.5vw;
  transform: translate(-50%, -50%);
}

.rightBlock p:after {
  left: 38%;
  top: -100px;
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
  .blockimg {
    top: 25%;
  }

  .location {
    top: 45%;
    left: 38%;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .blockimg {
    top: 25%;
  }
  .location {
    top: 45%;
    left: 38%;
  }
  .blockAddress p {
    font-size: 20px;
  }
}

@media screen and (min-width: 300px) and (max-width: 479px) {
  .blockimg {
    top: 30%;
  }
  .location {
    top: 45%;
    left: 38%;
  }

  .blockAddress p {
    font-size: 15px;
  }
}
