.footer {
  background: #333333;
}

.footerInner {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.logoLeft {
  flex: 4;
}

.logoLeft p {
  padding-top: 20px;
}

.textColor {
  padding-top: 0 !important;
}

.menu {
  flex: 2;
}

.menuInner {
  display: flex;
  flex: 5;
}

.link {
  text-decoration: none;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  line-height: 35px;
  letter-spacing: 0.1px;
  color: #fff;
  transition: all 0.3s;
}

.salons {
  display: none;
  width: 150px;
  height: 100px;
  border-radius: 10%;
  background: #fff;
  position: relative;
}

/* .menu:hover .salons {
  display: block;
  position: relative;
} */

.link:hover {
  color: #d1a068;
}

.active {
  color: #d1a068;
}

.social {
  flex: 3;
}

.contact {
  flex: 5;
}

.contact p {
  padding-top: 11px;
}

.contact p b {
  color: #d1a068;
}

.logoRight {
  padding-top: 40px;
  padding-left: 70px;
  flex: 4;
}

.logoRight span {
  color: #fff;
  padding-top: 12px;
  font-size: 13px;
  font-family: 'DM Sans', sans-serif;
}

.logoRight span b {
  color: #d1a068;
}

.footer p {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #ffffff;
}

.footer h4 {
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 0.1px;
  color: #ffffff;
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
  .footerInner {
    display: block;
    text-align: center;
  }

  .logoLeft {
    text-align: center;
  }

  .logoLeft img {
    margin: 0 auto;
  }

  .social img {
    display: inline-block;
  }

  .menu h4 {
    text-align: center;
  }

  .menu li {
    text-align: center;
  }

  .logoRight {
    padding-left: 0;
    padding-top: 25px;
  }

  .logoRight img {
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footerInner {
    display: block;
    text-align: center;
  }

  .logoLeft {
    text-align: center;
  }

  .logoLeft img {
    margin: 0 auto;
  }

  .social img {
    display: inline-block;
  }

  .menu h4 {
    text-align: center;
  }

  .menu li {
    text-align: center;
  }

  .logoRight {
    padding-left: 0;
    padding-top: 25px;
  }

  .logoRight img {
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 300px) and (max-width: 479px) {
  .footerInner {
    display: block;
    text-align: center;
  }

  .logoLeft {
    text-align: center;
  }

  .logoLeft img {
    margin: 0 auto;
  }

  .social img {
    display: inline-block;
  }

  .menu h4 {
    text-align: center;
  }

  .menu li {
    text-align: center;
  }

  .logoRight {
    padding-left: 0;
    padding-top: 25px;
  }

  .logoRight img {
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
